<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.netcracker.financeapp.dao.AgentMapper">
   
    <resultMap id="agentMap" type="Agent">
        <id property="idAgent" column="id_agent" javaType="int" jdbcType="INTEGER"/>
        <result property="name"  column="name" javaType="String" jdbcType="VARCHAR"/>
        <result property="accountNumber"  column="account_number" javaType="String" jdbcType="VARCHAR"/>
    </resultMap>
 
    <select id="getAgentByName" parameterType="String" resultType="Agent">
        select * from agent where name = #{agentName};
    </select>
    
    <select id="getAgentNames" resultType="String">
        select name from agent;
    </select>
    
    <select id="insertAgent" resultType="int">
        insert into agent(name,account_number) values(#{agentName},#{accountNumber}) returning id;
    </select>
    
    
</mapper>

