<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.netcracker.financeapp.mapping.Type">
   
    <resultMap id="spendingsMap" type="SpendingsType">
  <id property="idType" column="id_type" javaType="int" jdbcType="INTEGER"/>
  <result property="name"  column="name" javaType="String" jdbcType="VARCHAR"/>
   </resultMap>
 
    <select id="getSpendingsTypeById" parameterType="int" resultType="SpendingsType">
        select * from spendings_type where id_type = #{idType}
    </select>
    
    <select id="getSpendingsTypeNames" resultType="String">
        select name from spendings_type
    </select>
    
    <select id="getSpendingsTypeIdByName" parameterType="String" resultType="int">
        select id_type from spendings_type where name = #{typeName}
    </select>
    
    
</mapper>

