<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.netcracker.financeapp.dao.SpendingsMapper">
   
    <resultMap id="spendingsMap" type="Spendings">
  <id property="idSpending" column="id_spending" javaType="int" jdbcType="INTEGER"/>
  <result property="value"  column="value" javaType="int" jdbcType="INTEGER"/>
  <result property="description"  column="description" javaType="String" jdbcType="VARCHAR"/>
  <result property="date"  column="date" javaType="Date" jdbcType="TIMESTAMP"/>
  <result property="type"  column="id_type" javaType="int" jdbcType="INTEGER"/>
   </resultMap>

    
    <select id="getMaxSpendings" resultType="Spendings">
        select * from spendings where value = (select max(value) from spendings);
    </select>
    
    <select id="getAllSpendings" resultMap="spendingsMap">
        select * from spendings where date between #{startDate}::date and #{endDate}::date;
    </select>
    
    <select id="getAllSpendingsListByTypeName" parameterType="String" resultMap="spendingsMap">
        select * from spendings where id_type = (select id_type from spendings_type where name = #{typeName});
    </select>
    
    <select id="getSpendingsListByTypeName" resultMap="spendingsMap">
        select * from spendings where date between #{startDate}::date and #{endDate}::date 
        and id_type = (select id_type from spendings_type where name = #{typeName});
    </select>
    
    <select id="insertSpendings" resultType="int">
        insert into spendings(value,description,date,id_type) values(#{value},#{desc},
        #{date}, #{idType}) returning id;
    </select>
</mapper>
