<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netcracker.financeapp.dao.IncomeMapper">
    <sql id="userColumns">id_income as idIncome, value, description, date, id_type as type</sql>
    <select id="getIncome" parameterType="int" resultType="Income">
        select <include refid="userColumns"/> from income where id_income = #{idIncome}
    </select>
</mapper>
