<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <typeAliases>
    <typeAlias alias="Finance" type ="com.netcracker.financeapp.mapping.Finance" />
    <typeAlias alias="Type" type ="com.netcracker.financeapp.mapping.Type" />
  </typeAliases>
  <mappers>
    <mapper resource="com/netcracker/financeapp/dao/FinanceMapper.xml"/>
    <mapper resource="com/netcracker/financeapp/dao/TypeMapper.xml"/>
  </mappers>
</configuration>
