<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <typeAliases>
    <typeAlias alias="Income" type ="com.netcracker.financeapp.mapping.Income" />
    <typeAlias alias="Spendings" type ="com.netcracker.financeapp.mapping.Spendings" />
    <typeAlias alias="IncomeType" type ="com.netcracker.financeapp.mapping.IncomeType" />
    <typeAlias alias="SpendingsType" type ="com.netcracker.financeapp.mapping.SpendingsType" />
  </typeAliases>
  <mappers>
    <mapper resource="com/netcracker/financeapp/dao/IncomeMapper.xml"/>
    <mapper resource="com/netcracker/financeapp/dao/SpendingsMapper.xml"/>
    <mapper resource="com/netcracker/financeapp/dao/IncomeTypeMapper.xml"/>
    <mapper resource="com/netcracker/financeapp/dao/SpendingsTypeMapper.xml"/>
  </mappers>
</configuration>
